<app-content-header title="{{favoriteList.name}}" (onEdit)="openListModal()">
  <app-content-header-button btnClass="btn-danger" (click)="deleteList()">Delete</app-content-header-button>
  <app-content-header-button *ngIf="favoriteList.status != FINISHED"
                             btnClass="btn-success"
                             (click)="router.navigate(['/list/' + favoriteList.id + '/algorithm']);"
                             [disabled]="favoriteList.items.length <= 1">
    {{favoriteList.status == ONGOING ? 'Resume' : 'Start' }}
  </app-content-header-button>
</app-content-header>

<div class="row mb-4">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-body">
        <div class="content-header-wrapper justify-content-between d-flex align-items-center">
          <p class="p-0 m-0">
            Total number of items<br/>
            Number of favorites picked
          </p>
          <p class="p-0 m-0 text-right">
            {{favoriteList.items.length}}<br/>
            {{this.determineNumberOfFavoriteItemsPicked()}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card ">
      <div class="card-body">
        <div class="content-header-wrapper justify-content-between d-flex align-items-center">
          <p class="p-0 m-0">
            Timestamp created<br/>
            Status
          </p>
          <p class="p-0 m-0 text-right">
            {{favoriteList.tsCreated | date: 'dd-MM-yy HH:mm'}}<br/>
            {{favoriteList.status}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-content-header title="Items">
  <app-content-header-button *ngIf="favoriteList.status == CREATED" btnClass="btn-danger" (click)="removeAllItems()">Remove all items</app-content-header-button>
  <app-content-header-button *ngIf="favoriteList.status == CREATED" (click)="this.openItemModal(undefined)">New item</app-content-header-button>
  <app-content-header-button *ngIf="favoriteList.status == CREATED" (click)="openImportModal()">Import</app-content-header-button>
  <app-content-header-button *ngIf="favoriteList.status != CREATED" btnClass="btn-danger" (click)="resetAlgorithm()">Reset algorithm</app-content-header-button>
  <app-content-header-button (click)="openExportModal()">Export</app-content-header-button>
</app-content-header>

<div *ngIf="favoriteList.status == CREATED">
  <app-card-list *ngFor="let item of sortByFavoriteThenId(favoriteList.items)" title="{{item.name}}"
                 [addBottomMargin]=false
                 (onDelete)="deleteItem(item.id)" (onEdit)="openItemModal(item)"></app-card-list>
</div>
<div *ngIf="favoriteList.status != CREATED">
  <app-card-list *ngFor="let item of sortByFavoriteThenId(favoriteList.items)" title="{{item.name}}"
                 [addBottomMargin]=false>
    <span class="badge badge-primary">{{item.favoritePosition}}</span>
  </app-card-list>

</div>
